body{
    margin: 0;
    padding: 0;
    
}

header {
    background-color: gainsboro;
}

header nav{
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 485px;
  }

li{ 
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: inline;
    
}

#mainpage{
    margin-left: 40px;
}

#myclass{
    margin-left: 40px;
}

#portfolio{
    margin-left: 40px;
}