            * {
                margin: 0px;
                padding: 0px;
                border: none;
            }
            
            .backgr_cell {
                width: 1340px;
                height: 730px;
                background-image: url("./images/cell.png");
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .backgr_color {
                background-image: url('./images/background1.jpg');
                width: 1340px;
                height: 730px;
                position: absolute;
                top: 0;
                background-size: cover;
            }
            
            .backgr_stuff {
                width: 1340px;
                height: 730px;
                background-image: url("./images/stuff.png");
                background-repeat: repeat;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .backgr_bg1 {
                width: 1340px;
                height: 730px;
                background-image: url("./images/color.png");
                background-repeat: repeat;
                position: absolute;
                left: 0px;
                top: 0px;
            }
            
            .container {
                background-position: center;
            }
            
            #phaserGame {
                width: 1000px;
                height: 620px;
                position: relative;
                margin: auto;
                margin-top: 0px;
            }
            
            #pg {
                width: 1000px;
                height: 45px;
                border-bottom: 1px solid #EDEDED;
                position: absolute;
            }