.background{
    width: 1100px;
    background-color:#ffffff;
    height: 690px;
    position: relative;
    margin: auto;
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),
    0px 2px 4px 0px rgba(0,0,0,0.5);
}

#phaser-example{
    width: 1080px;
    height: 680px;
    position: relative;
    margin: auto;
    margin-top: 50px;
  }


  #returnlink{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #english, #vietnamese{
    position: absolute;
  }
  #vietnamese{
      margin-top: 35px;
  }

  ul{
    list-style-type:none;
  }
  
  .languages {
      font-family: "Source Sans Pro",sans-serif;
      margin: 0;
      padding: 0;
      width: 100px;
      margin-top: 10px;
      margin-left: 850px;
      height:35px;
      position: absolute;
     
  }
  .languages li {
      display: none;
      margin-left: 100px;
  }
  .languages li a, .languages li.active {
      background: none repeat scroll 0 0 #FFC0CB;
      color: #e41414;
      display: block;
      font-size: 0.85em;
      padding: 10px 0;
      text-align: center;
      width: 100px;
  }
  .languages li a:hover, .languages li.active {
      background: none repeat scroll 0 0 #333;
      border: medium none;
      color: #a7a5a5;
  }
  .languages li.active {
      display: block;
      
  }