.background{
    width: 1100px;
    background-color:#ffffff;
    height: 690px;
    position: relative;
    margin: auto;
    margin-top: 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 19px 0px rgba(0,0,0,0.5),
    0px 2px 4px 0px rgba(0,0,0,0.5);
}

#phaser-example{
    width: 1080px;
    height: 680px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

#bar{
    position: absolute;
    margin-left: 250px;
    top: -30px;
}

.ball{
    position: absolute;
    bottom: 48px;
    width: 5%;
}

#ball1{
    margin-left:30px;
}

#ball2{
    margin-left:60px;
}
#ball3{
    margin-left:90px;
}
#ball4{
    margin-left:120px;
}
#ball5{
    margin-left:150px;
}
#ball6{
    margin-left:180px;
}


.loa{
    width: 40px;
    height: 40px;
    background-image: url('src/assets/loadai.png');
    background-repeat: no-repeat; 
    background-size: 40px;
    padding-right: 10px;
    display: inline-block;
 }
 
 .loa:hover{
   background-color: yellow
 }
 
 .input {
     /* border: 5px solid #d98708; */
     font-size: 40px;
     /* border-radius: 5px; */
     width:20px;
     border: 0px;
     outline: none;
     font-family: 'Times New Roman', Times, serif;
     display: inline-block;
 
 }

 .answer{
    border: 5px solid #d98708; 
    position: relative;
    left: 10px;
    border-radius: 5px;
    top: -13px;
    display: inline-block;
}

 .layout_question{
    display: flex;
    margin-top: 0px;
    padding: 10px;
    display: inline-block;
    position: relative;
  
  }

  #layout_question0{
      margin-left: 90px;
  }
  #layout_question1{
      display: none;
      margin-left: 50px;
  }

  .question{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    display: inline-block;

}


  #returnlink{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #english, #vietnamese{
    position: absolute;
  }
  #vietnamese{
      margin-top: 35px;
  }

  ul{
    list-style-type:none;
  }
  
  .languages {
      font-family: "Source Sans Pro",sans-serif;
      margin: 0;
      padding: 0;
      width: 100px;
      margin-top: 10px;
      margin-left: 850px;
      height:35px;
      position: absolute;
     
  }
  .languages li {
      display: none;
      margin-left: 100px;
  }
  .languages li a, .languages li.active {
      background: none repeat scroll 0 0 #FFC0CB;
      color: #e41414;
      display: block;
      font-size: 0.85em;
      padding: 10px 0;
      text-align: center;
      width: 100px;
  }
  .languages li a:hover, .languages li.active {
      background: none repeat scroll 0 0 #333;
      border: medium none;
      color: #a7a5a5;
  }
  .languages li.active {
      display: block;
      
  }