@charset "utf-8";
#div1 {
    width: 1340px;
    height: 730px;
    background-image: url("./ảnh1.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#div2 {
    width: 1340px;
    height: 730px;
    background-image: url("./cell.png");
    background-repeat: repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

#div3 {
    width: 1340px;
    height: 730px;
    background-image: url("./color.png");
    background-repeat: repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}

#div4 {
    width: 1340px;
    height: 730px;
    background-image: url("./stuff.png");
    background-repeat: repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}